.each_post{
   background-color: white; 
   margin: 10px;
   width: 400px;
   display: flex;
   flex-direction: column;
   align-items:center;
   justify-content:left;
   text-decoration: none;
   padding: 20px;
}
.post{
    display: flex;
   flex-direction: row;
   align-items:center;
   justify-content:center;
}
h3{
    color: wheat;
}
.buttons{
    display: flex;
    flex-direction: row;
}
.gif{
    margin-top: 100px;
    width: 400px;
    height: 200px;
}
.forms{
    width: 100%;
    background-image: url("D:\Techsoc\myapp\src\blogwp.webp");
    background-size: cover;
}
.forming{
    padding: 20px;
}